/* global */
body {
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(25, 25, 26, var(--tw-bg-opacity));
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* tables */
table td img {
	min-width: 3rem;
}

.codeblock {
	display: block;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 0 auto;
}

table {
	display: block;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 0 auto;
	border: 2px solid #2a2a2a;
	border-collapse: collapse;
	width: 100%;
}

table tr {
	padding: .35em;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/* markdown */
h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
	letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
}

h3 {
    font-family: Kumbh Sans, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    color: white;
}

h4 {
    font-family: Kumbh Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 1.5rem;
}

p, h1, h2, h3, ol {
    margin-bottom: 2rem;
}

h1:not(:first-child) {
	margin-top: 2.75rem;
}

h2:not(:first-child) {
    margin-top: 2rem;
}

ol, ul {
    padding-left: 2.5rem;
    margin-bottom: 2rem;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

a {
    --tw-text-opacity: 1;
    color: rgba(255, 153, 0, var(--tw-text-opacity));
}

hr {
    margin-bottom: 2rem;
}

table > thead {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgba(255, 153, 0, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(16, 17, 17, var(--tw-bg-opacity));
}

table > thead > tr > th:empty {
    display: none;
}

table > thead > tr > th {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

table > tbody > tr > td,
table > thead > tr > td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-right-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(65, 65, 65, var(--tw-border-opacity));
}

table > tbody > tr:nth-of-type(odd) {
    --tw-bg-opacity: 1;
    background-color: rgba(41, 41, 44, var(--tw-bg-opacity));
}

blockquote {
    border-left: 4px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

blockquote p {
    display: inline;
}

img {
    max-width: 100%;
}
