---
name: Yaml Lint
on:
  pull_request:
    branches:
      - main
    paths:
      - 'static/admin/config.yml'

jobs:
  lintNetlifyConf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: static/admin/config.yml
          config_file: .yamllint.yml